@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Light.woff2') format('woff2'),
    url('fonts/Gilroy-Light.woff') format('woff'),
    url('fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Extrabold.woff2') format('woff2'),
    url('fonts/Gilroy-Extrabold.woff') format('woff'),
    url('fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Black.woff2') format('woff2'),
    url('fonts/Montserrat-Black.woff') format('woff'),
    url('fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}